.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
.line-1{
    position: relative;
    top: 50%;  
    width: 14em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;  
}

/* Animation */
.anim-typewriter{
  animation: typewriter 5s steps(40) 1s 1 normal both,
             blinkTextCursor 700ms steps(44) infinite normal;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 11em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: #00897B}
  to{border-right-color: transparent;}
}
